/* MAIN PAGE GRID DISPLAY */

.dashboardHomeGrid {
    display: grid;
    position:fixed;
    justify-content: stretch;
    height: calc(99% - (7vh + 10px));
    width: calc(99% - 5px);
    top: 7vh;
    left: 0px;
    grid-template-columns: repeat(19, minmax(0, 1fr));
    grid-auto-flow: column;
    grid-gap: 10px;
    padding: 10px;
    overflow: hidden;
}


/* Default grid container*/

.dashboardHomeGrid>div {
    background-color: rgba(244, 253, 255, 0.123);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(75, 73, 73, 0.404);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}


/* Fade in effect on tab open */

.dashboardHomeGrid {
    animation: fadeEffect 0.3s;
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/****************************/


/* Specific Grid Containers */


/****************************/


/* Start on row X column Y, and end on row W column Z*/

.radarPlot {
    grid-area: 1 / 6 / 6 / 15;
    background-color: rgba(244, 253, 255, 0.349);
}

.left_radar {
    grid-area: 1 / 1 / 6 / 6;
    background-color: rgba(244, 253, 255, 0.349);
}

.right_radar {
    grid-area: 1 / 15 / 6 / 20;
    background-color: rgba(244, 253, 255, 0.349);
}

.suggestions {
    grid-area: 6 / 1 / 9 / 20;  
    background-color: rgba(244, 253, 255, 0.349);
}

.suggestion_card{ 
    display: inline-block;
    width: 19%;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(65, 65, 65);
    border-radius: 10px 10px 5px 5px;
}

.suggestion_card:hover {
    background-color: rgb(62, 62, 62);
    box-shadow: 0px 0px 6px 3px #3636363f;
}

.chart-fill{
    fill: #2b2b2b77;
    stroke: #000000dc ;
    stroke-width: 1px
}

.node_point{
    fill:red;
}