.TopLevelNavigation {
    background-image: linear-gradient(to bottom right, rgba(94, 94, 94, 0.562), rgba(88, 88, 88, 0.658));
    z-index: 1;
    padding: 3px 0;
    height: 6vh;
    box-shadow: 0px 1px 13px -4px #000000d7;
    border-bottom: 1px solid rgb(32, 32, 32);
}

.Icon {
    position: relative;
    bottom: 1px;
    height: 50px;
    padding: 0 20px 0 20px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    float: left;
    width: 175px;
    display: inline;
    color: rgba(215, 250, 255, 0.288)
}


/* NAVIGATION */

nav {
    width: calc(100%-50px);
    padding-left: 30px;
    margin: 0;
    display: inline-flex;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

nav ul li.settings_button {
    position: absolute;
    right: 20px;
    top: 10px;
}

nav ul li {
    width: 8vw;
    display: inline-block;
}


/* Default of Text Items in the navbar */

nav ul li a {
    display: block;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    color: #D9D9D9;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a {
    height: 10px;
}

nav ul li a:after,
nav ul li a:before {
    transition: all 1s;
}


/* When an Item is highlighted  in the navbar */

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}


/* Line appears under an element when it is hovered */

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    height: 2px;
}

nav.stroke ul li a:after {
    background-color: #c4c4c4;
}

nav.stroke ul li a.Identify:after {
    background-color: #4be4ff6e;
}

nav.stroke ul li a.Detect:after {
    background-color: #fffc4b6e;
}

nav.stroke ul li a.Protect:after {
    background-color: #da1eff6e;
}

nav.stroke ul li a.Recover:after {
    background-color: #4bff696e;
}

nav.stroke ul li a.Respond:after {
    background-color: #ff4b4b6e;
}

nav.stroke ul li a.Identify:after {
    background-color: #4be4ff6e;
}

nav.stroke ul li a.settings_button:hover:after {
    width: 0%;
}

nav.stroke ul li a:hover:after {
    width: 95%;
}

nav.fill ul li a {
    transition: all 2s;
}

.settings_button{
    font-size: 30px;
}