/* The sidebar menu */

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: #262626;
    overflow-x: hidden;
    padding-top: 20px;
    border-right-color: rgba(0, 0, 0, 0.404);
    border-right-width: 1px;
    border-right-style: solid;
}


/* The navigation menu links */

.sidenav button {
    background-color: inherit;
    float: center;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 16px 20px 16px;
    transition: 0.3s;
    font-size: 15px;
    color: #a1a1a1;
}


/* Depending on what the category is change the text color */

.sidenav h1.identify {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #6CBCC1;
}

.sidenav h1.protect {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #f2b3ffd8;
}

.sidenav h1.detect {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #fffd88d8;
}

.sidenav h1.respond {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #ff9595;
}

.sidenav h1.recover {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #7bff91de;
}


/* When you mouse over the navigation links, change their color */

.sidenav button:hover {
    color: #f1f1f1;
}

.sidenav button.active {
    color: #f1f1f1;
}