/* The sidebar menu */

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: rgb(46, 46, 46);
    overflow-x: hidden;
    padding-top: 20px;
    border-right-color: rgba(0, 0, 0, 0.404);
    border-right-width: 1px;
    border-right-style: solid;
}


/* The navigation menu links */

.sidenav button {
    background-color: inherit;
    float: center;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 16px 20px 16px;
    transition: 0.3s;
    font-size: 15px;
    color: #a1a1a1;
}


/* Depending on what the category is change the text color */

.sidenav h1.identify {
    text-align: center;
    font-size: 18px;
    color: #4be4ff6e;
}

.sidenav h1.protect {
    text-align: center;
    font-size: 18px;
    color: #da1eff6e;
}

.sidenav h1.detect {
    text-align: center;
    font-size: 18px;
    color: #fffc4b6e;
}

.sidenav h1.respond {
    text-align: center;
    font-size: 18px;
    color: #ff4b4b6e;
}

.sidenav h1.recover {
    text-align: center;
    font-size: 18px;
    color: #4bff696e;
}


/* When you mouse over the navigation links, change their color */

.sidenav button:hover {
    color: #f1f1f1;
}

.sidenav button.active {
    color: #f1f1f1;
}