.Protect{
    color: rgba(215, 250, 255, 0.815);
    pointer-events: none;
}

nav.stroke ul li a.Protect:after,
nav.fill ul li a.Protect:after {
    position: absolute;
    bottom: -18px;
    background-color: #da1eff6e;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    content: '.';
    color: transparent;
    height: 2px;
}