/* MAIN DETECT PAGE */
/* Start on row X column Y, and end on row W column Z*/

.HeatmapDetect{
    grid-area: 1 / 1 / 4 / 20;
    background-color: rgb(126, 126, 126);
}

.controls{
    grid-area: 4 / 1 / 8 / 5;
    background-color: rgb(126, 126, 126);
}

.detectControl{
    color: #f5f37cd5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #474714d5;
    padding-bottom: 8px;
    margin-bottom: 25px;
}


.information_control{
    grid-area: 4 / 5 / 8 / 20;
    background-color: rgb(126, 126, 126);
}


/* Visual Identity */
.Detect{
    color: rgba(215, 250, 255, 0.815);
    pointer-events: none;
}

nav.stroke ul li a.Detect:after,
nav.fill ul li a.Detect:after {
    position: absolute;
    bottom: -18px;
    background-color: #fffc4b6e; 
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    content: '.';
    color: transparent;
    height: 2px;
}