/* MAIN DETECT PAGE */
/* Start on row X column Y, and end on row W column Z*/

.HeatmapDetect{
    grid-area: 1 / 1 / 3 / 5;
    background-color: rgb(126, 126, 126);
}

.controls{
    grid-area: 1 / 1 / 3 / 5;
    background-color: rgb(126, 126, 126);
}

.information_control{
    grid-area: 1 / 1 / 3 / 5;
    background-color: rgb(126, 126, 126);
}


/* Visual Identity */
.Detect{
    color: rgba(215, 250, 255, 0.815);
    pointer-events: none;
}

nav.stroke ul li a.Detect:after,
nav.fill ul li a.Detect:after {
    position: absolute;
    bottom: -18px;
    background-color: #fffc4b6e;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    content: '.';
    color: transparent;
    height: 2px;
}