/* MAIN IDENTIFY PAGE */
/* Start on row X column Y, and end on row W column Z*/
.networkGraph {
    grid-area: 1 / 1 / 5 / 15;
    background-color: rgba(0, 0, 0, 0);
}

/* network diagram specification*/
.networkGraph-node{
    fill: rgb(150, 150, 150);
    stroke: rgb(37, 40, 58);
    stroke-width: 3px;
}

.networkGraph-node-Highlighted{
    fill: rgb(150, 150, 150);
    stroke: #4be4ff6e;
    stroke-width: 3px;
}


.networkGraph-link{
    fill: none;
    stroke: rgb(106, 109, 126);
    stroke-opacity: 1;
    stroke-width: 2px;
    stroke-linecap:round;
}

.chord-link{
    fill: none;
    stroke: rgb(106, 109, 126);
    stroke-opacity: 0.1;
    stroke-width: 1px;
    stroke-linecap:round;
}

.networkGraph-link-Highlighted{
    fill: none;
    stroke: #4be4ff6e;
    stroke-opacity: 1;
    stroke-width: 3px;
    stroke-linecap:round;
    z-index: -1;
}

.chord-link-Highlighted{
    fill: none;
    stroke: #4be4ff6e;
    stroke-opacity: 1;
    stroke-width: 4px;
    stroke-linecap:round;
    z-index: -1;
}

.information {
    grid-area: 1 / 15 / 5 / 20;
    background-color: rgb(187, 187, 187);
}

.network_graph_info_title{
    font-size:17px;
    font-weight: bolder;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #104953e7;
}

.network_graph_info_subtitle{
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    width: 150px;
    padding-bottom: 2px;
    padding-left: 25px;
    color: #104953e7;
    border-bottom: rgba(43, 43, 43, 0.233) 1px solid;
}

.network_graph_info{
    color: rgb(37, 37, 37);
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    width: 75%;
    margin-left: 40px;
}

.network_graph_info_tables{
    color: rgb(37, 37, 37);
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    width: 85%;
    height: 15vh;
    margin-left: 40px;
    overflow-y: auto;
}




/* Visual Identity */
.Identify{
    color: rgb(255, 255, 255);
    pointer-events: none;
}
nav.stroke ul li a.Identify:after,
nav.fill ul li a.Identify:after {
    position: absolute;
    bottom: -18px;
    background-color: #4be4ff6e;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    content: '.';
    color: transparent;
    height: 2px;
}