/* MAIN IDENTIFY PAGE */
/* Start on row X column Y, and end on row W column Z*/
.networkGraph {
    grid-area: 1 / 1 / 5 / 8;
    background-color: rgba(0, 0, 0, 0);
}

/* network diagram specification*/
.networkGraph-node{
    fill: rgb(150, 150, 150);
    stroke: rgb(37, 40, 58);
    stroke-width: 3px;
}

.networkGraph-node:hover{
    fill: rgb(150, 150, 150);
    stroke: #4be4ff6e;
    stroke-width: 3px;
}

.networkGraph-link{
    stroke: rgb(37, 40, 58);
    stroke-opacity: 1;
    stroke-width: 2px;
    stroke-linecap:round;
}


.information {
    grid-area: 1 / 8 / 5 / 12;
    background-color: rgb(126, 126, 126);
}

/* Visual Identity */
.Identify{
    color: rgba(215, 250, 255, 0.815);
    pointer-events: none;
}
nav.stroke ul li a.Identify:after,
nav.fill ul li a.Identify:after {
    position: absolute;
    bottom: -18px;
    background-color: #4be4ff6e;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    content: '.';
    color: transparent;
    height: 2px;
}